<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet" href="/static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style type="text/css">
        a{
            text-decoration: none;
        }

        #form{
            margin-top: 50px;
        }
        .form-group{
            width: 800px;
        }

        .head{
            background-color: #283e5c;;
            height: 48px;
        }
        .title{
            display: block;
            font-size: 30px;
            color: orange;
            font-weight: bold;
            line-height: 48px;
            text-align: center;
        }

        .head-right{
            width: 400px;
            float: right;
             text-align: center;

        }

        .head-right a{

            display: inline-block;
            height: 20px;
            width:  30px;
            font-size: 14px;
            line-height: 48px ;
            margin-right: 10px;
            color: white;

        }
        .errors{
            color: red;
        }

    </style>
</head>
<body>
    <nav class="head ">
        <div style="width: 300px; float: left">
            <span class="title">博客园</span>
        </div>
        <div class="head-right">
            <a href="">首页</a>
            <a>登录</a>
            <a>注册</a>
            <a>帮助</a>
        </div>
    </nav>
    <div class="wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <form  id="form" >
                    <div class="form-group">
                        <p style="font-size: 26px; color: #337ab7">注册新用户</p>
                        <p><span id="summary-error"></span></p>
                        {% csrf_token %}
                         <p >
                              <span>用户名:</span>{{ form_obj.username }}
                              <span class="pull-right"></span>
                         </p>

                        <p>
                            <span>密码:</span>{{ form_obj.password }}
                            <span class="pull-right"></span>
                        </p>

                        <p>
                            <span>确认密码:</span>{{ form_obj.re_pwd }}
                            <span class="pull-right"></span>
                        </p>
                        <div class="row" >
                            <div class="col-md-10">
                                <p>
                                    Emil:{{ form_obj.email }}
                                    <span class="pull-right"></span>
                                </p>
                            </div>

                            <p class="col-md-2">
                                 <button class="pull-right btn-primary btn" style="margin-top: 18px"  id="get_email_code">获取验证码</button>
                            </p>
                        </div>


                        <p>
                            <span>验证码</span>{{ form_obj.check_code }}
                            <span class="pull-right"></span>
                        </p>

                        <label for="avatar">
                                <span>上传头像</span>
                                <img id="avatar_img" width="80" height="80" src="/media/avatar/default.jpg" style="margin-left: 10px">
                        </label>
                        <input type="file" id="avatar" style="display: none">
                        <div>
                            <input type="button" id='submit_info' class="btn-primary btn pull-right" value="提交">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        bindSubmit();
        bindChageAvatar();
        bindGetEmailCode()
    });

    function bindSubmit() {
       $('#submit_info').click(function () {

          $("#form p").removeClass('has-error');
          $(".errors").html('');
          var subData = new FormData();
          var request_data = $('#form').serializeArray();
          $.each(request_data,function (index,data) {
              subData.append(data.name, data.value);
          });
          subData.append("avatar", $('#avatar')[0].files[0]);
          subData.append('csrfmiddlewaretoken',$("[name='csrfmiddlewaretoken']").val());

          $.ajax({
               url:"/register/",
               type:"post",
               processData:false,
               contentType:false,
               data:subData,
               dataType:'json',
               success:function (data) {
                   console.log(data.error_msg);
                   if(!data.state){
                       if(data.summary_error){
                           $('#summary-error').html(data.summary_error)
                       }
                       $.each(data.error_msg,function (field,msg) {
                           if(field=="__all__"){
                                $('#summary-error').html(msg[0]).parent().addClass("has-error")
                           }
                           $('#id_'+field).next().html(msg[0]).addClass('errors').parent().addClass('has-error')
                       })
                   }else {
                       console.log(123);
                       location.href = '/index/'

                   }
               }

           })
       })
    }
    
    function bindChageAvatar() {
        $("#avatar").change(function () {
            var file_obj = $(this)[0].files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file_obj);
            reader.onload = function(){
                $("#avatar_img").attr("src", reader.result)
            };
        })
    }

    function bindGetEmailCode() {
        $('#get_email_code').click(function () {
              $('#id_email').next().empty();
              if(!$(this).hasClass('disabled')){
                    $(this).addClass('disabled');
                    $.ajax({
                    url:'/email_valid_code/',
                    type:'post',
                    data:{'email':$("#id_email").val(),
                        'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()
                    },
                    success:function (data) {
                        if(data.state){
                            var time = 60;
                            $('#get_email_code').html("已发送("+time+")");
                            var timeIn = setInterval(function () {
                                time-=1;
                                $('#get_email_code').html("已发送("+time+")");
                                if(time == 0){
                                     clearInterval(timeIn);
                                     $('#get_email_code').html("发送验证码").removeClass('disabled');
                                }
                            },1000)

                        }else {
                            msg = data.msg;
                            if(data.msg.email){
                                msg=data.msg.email[0]
                            }
                            $('#id_email').next().html(msg).addClass('has-error errors');
                            $('#get_email_code').removeClass('disabled');
                        }
                    }
                })
              }

        }


        )
    }
</script>
</html>